html, body {
  min-height: 100%;
}
* {
  font-family: Sasara UI SC,-apple-system,BlinkMacSystemFont,Segoe UI,Dengxian,system-ui,Roboto,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei Light,Microsoft YaHei,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

body, .app {
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: hidden;
}
.el-main {
  overflow: hidden;
}
.el-button--text {
  color: #fff;
}
.el-button--text:hover {
  color: #999;
}
.el-button--text:active {
  color: #fff;
}

.el-input__inner:focus {
  border-color: #d6e1ec;
}

.el-upload-list, .el-upload-list--text {
  display: none;
}
